<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>Enter username</label>
            <input type="text" class="form-control" [(ngModel)]="userName">
            <p>Your current username is {{userName}}</p>
            <button class="btn btn-primary" (click)="onUpdateServer($event)" [disabled]="userName===''">Create new Server</button>
            <br>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onCreateServer()">Show Server</button>
            <p *ngIf="serverStatus">Server created name {{serverName}}</p>
        </div>
    </div>
</div>

